.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* ---------------- Login ------------------------------ */
  
  .allLogin{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bodyLogin{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#04AA6D;
  }
  
  .box{
    position: relative;
    width: 380px;
    height: 500px;
    background: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #cf1901, #c00000);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }
  
  .box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #d80000, #ce0000);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
  
  @keyframes animate{
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(360deg);
    }
  }
  
  .form{
     position: absolute;
     inset:2px;
     border-radius: 8px;
     background: #82848f;
     z-index: 10;
     padding: 50px 40px;
     display: flex;
     flex-direction: column;
  }
  .form h2{
    color: #fefeff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
  }
  
  .inputBox{
    position: relative;
    width: 300px;
    margin-top: 30px;
  
  }
  
  .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #ce0000;
    font-size:  1em;
    letter-spacing: 0.05em;
    z-index: 10;
  }
  
  .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #a80000;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .inputBox input:valid ~ span,
  .inputBox input:focus ~ span
  {
    color: #fcfafa;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
  }
  
  .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #d9ff02;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  
  }
  
  .inputBox input:valid ~ i,
  .inputBox input:focus ~ i
  {
    height: 44px;
  }
  
  .links{
  display: flex;
  justify-content: space-between;
  }
  
  .links a{
    margin: 15px 0;
    font-size: 0.9em;
    color: #fffdfd;
    text-decoration: none;
  }
  
  .links a:hover,
  .links a:nth-child(2){
    color: #a50000;
  }
  
  button[type="submit"]{
    border: none;
    outline: none;
    background: #6bdb7a;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
  }
  
  button[type="submit"]:active{
    opacity: 0.8;
  }
  
  .back{
    margin-top: 10px;
    margin-left: 50px;
    color: #45f3ff;
  }
  
  /* ---------------------End of  login, signup, forgot password ---------------------- */
  
  #comment {
   
    resize: none;
    height: 300px;
  }

  /* ------------------------ Sidebar ---------------------------------------- */
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 1200px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.Sidebar{
    margin-top: 60px;
   
}

.Navbar{
    margin-left: 10%;
}

  /* ----------------------------------------- input box error alert -------------------------------------------------------------------------------------------- */

.input-error{
    border : 1px solid red;
  }

.homesize{
  background: #09bd81;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #207463, #0f865f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #47a594, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 
.wrapper{
  width: 100%;
  height: 100%;
}
.main-text{
  position: absolute;
  top: 45%;
  left: 35%;
  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: rgb(155, 103, 103);
}
.bubble{
  position: absolute;
  top: 70%;
  border-radius: 50%;
  border: 2px solid rgba(0, 175, 23, 0.8);
}
.small{
  width: 10px;
  height: 10px;
  left: 50%;
  animation: flow-s 2s linear infinite;
}
.small-l{
  width: 10px;
  height: 10px;
  left: 43%;
  animation: flow-s-l 0.9s linear infinite;
}
.s-medium{
  width: 20px;
  height: 20px;
  left: 43%;
  animation: flow-s 1.3s linear infinite;
}
.medium{
  width: 25px;
  height: 25px;
  left: 45%;
  animation: flow-m 0.8s linear infinite;
}
.large{
  width:5px;
  height: 5px;
  left: 57%;
  animation: flow-l 0.7s linear infinite;
}

@keyframes flow-l {
  0% {
    top: 53%;
    left: 57%;
    opacity:0;
  }
  25%{
    top: 49%;
    left: 57.5%;
    opacity: 1;
  }
  50%{
    left: 58%;
    opacity: 1;
  }
  75%{
    left: 57.5%;
    opacity: 1;
  }
  100% {
    top: 32%;
    left: 57%;
    opacity: 0;
  }
}

@keyframes flow-s {
  0% {
    top: 53%;
    left: 50%;
    opacity:0;
  }
  25%{
    top: 49%;
    left: 51%;
    opacity: 1;
  }
  50%{
    top: 45%;
    left: 52%;
    opacity: 1;
  }
  75%{
    top: 41%;
    left: 51%;
    opacity: 1;
  }
  100% {
    top: 37%;
    left: 50%;
    opacity: 0;
  }
}

@keyframes flow-s-m {
  0% {
    top: 53%;
    left: 43%;;
    opacity:0;
  }
  25%{
    top: 49%;
    left: 42.5%;
    opacity: 1;
  }
  50%{
    top: 45%;
    left: 42%;
    opacity: 1;
  }
  75%{
    top: 41%;
    left: 42.5%;
    opacity: 1;
  }
  100% {
    top: 37%;
    left: 43%;
    opacity: 0;
  }
}

@keyframes flow-m {
  0% {
    top: 53%;
    left: 45%;;
    opacity:0;
  }
  25%{
    top: 48%;
    left: 44.5%;
    opacity: 1;
  }
  50%{
    top: 43%;
    left: 44%;
    opacity: 1;
  }
  75%{
    top: 38%;
    left: 44.5%;
    opacity: 1;
  }
  100% {
    top: 33%;
    left: 45%;
    opacity: 0;
  }
}

@keyframes flow-s-l {
  0% {
    top: 53%;
    left: 43%;;
    opacity:0;
  }
  25%{
    top: 48%;
    left: 43.5%;
    opacity: 1;
  }
  50%{
    top: 43%;
    left: 44%;
    opacity: 1;
  }
  75%{
    top: 38%;
    left: 43.5%;
    opacity: 1;
  }
  100% {
    top: 33%;
    left: 43%;
    opacity: 0;
  }
}
